{deps, [
    {pes, {git, "https://github.com/systream/pes.git", {branch, "main"}}},
    {rico, {git, "https://github.com/systream/rico.git", {branch, "main"}}},
    {simple_gossip, {git, "https://github.com/systream/simple_gossip.git", {branch, "master"}}},
    {lili, {git, "https://github.com/systream/lili.git", {branch, "main"}}},
    exometer_core
]}.

{shell, [
    {apps, [bear]},
    {config, "./config/sys.config"},
    {vm_args, "./config/vm.args"}
]}.

{plugins, [

]}.

{erl_opts, [warn_unused_vars,warn_shadow_vars,warn_unused_import,warn_obsolete_guard,debug_info]}.
{xref_checks, [undefined_function_calls, undefined_functions,
    locals_not_used, deprecated_function_calls,
    deprecated_functions]}.

{cover_enabled, true}.
{cover_opts,[verbose]}.

{project_plugins, [rebar3_proper, rebar3_lint]}.

{minimum_otp_vsn, "26"}.

{profiles,
    [{test, [
        {deps, [
            {proper, {git, "https://github.com/proper-testing/proper.git", {branch, "master"}}},
            {lili, {git, "https://github.com/systream/lili.git", {branch, "main"}}},
            meck,
            redbug
        ]}
    ]}
  ]}.

{alias, [{test, [{ct, "--sname ct --cover true --sys_config=config/sys.config --readable true"},
    {proper, "--cover=true -n 512"},
    dialyzer]}]}.

{relx, [{sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},
    {include_src, false},
    {dev_mode, false},
    {include_erts, true},
    {generate_start_script, true},
    {extended_start_script, true},
    {release, {bear, {semver, []}}, [bear]}]}.