[
  {bear, [

  ]},
  {simple_gossip, [
    {event_mode, sync}
  ]},
  {rico, [
    {pools, #{
      default => #{
        pool_size => 5,
        host => "localhost",
        port => "8087",
        user => "bear",
        pw => "bear",
        cacertfile => {priv_dir, bear, "rootCA.crt"},
        certfile => {priv_dir, bear, "bear.crt"},
        keyfile => {priv_dir, bear, "bear.key"}
      }
    }
    }
  ]},
  {pes, [
    {shard_count, 64},
    {default_heartbeat, 16000}
  ]}
].